<mat-card class="example-card dialog">
    <mat-card-title>Testdevice Manager - Mitarbeiter</mat-card-title>
    <mat-card-content>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Choose an option</mat-label>
                <mat-select>
                    <mat-option *ngFor="let device of devicelist.devices" value="option1">{{device}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Ausleihen</button>
    </mat-card-actions>
</mat-card>