<mat-card class="example-card dialog">
    <mat-card-title>Testdevice Manager - Device Manager</mat-card-title>
    <mat-card-content>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Deviceliste</mat-label>
                <mat-select [(ngModel)]="selectedDevice">
                    <mat-option *ngFor="let device of devicelist.devices" value="{{device}}">{{device}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <p>Devicename:</p>
            <p>{{selectedDevice}}</p>

            <p>Aufgabe:</p>
            <mat-form-field appearance="fill">
                <mat-label>Aufgabe auswählen</mat-label>
                <mat-select>
                    <mat-option value="option1">Implementierung</mat-option>
                    <mat-option value="option2">Tests</mat-option>
                    <mat-option value="option3">Präsentation</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="borrow()">Ausleihen</button>
    </mat-card-actions>
</mat-card>
<p [className]="this.employees.user ? 'dNone' : 'dBlock'">
    <ngb-alert [dismissible]="false">
        <strong>Warnung!</strong> Du bist nicht eingeloggt
    </ngb-alert>
</p>