/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #142f3f;
}

.dialog {
    width: 600px;
    height: 400px;
    border-radius: 16px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
    background-color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
